
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

header {
    background-image: url("../SiteImage/banner.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    padding: 100px 20px;
}


header h1 {
    font-size: 3em;
}

main {
    padding: 20px;
    background-color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
/* Estilos para el banner */
header {
    background-image: url("../SiteImage/banner.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    padding: 100px 20px;
    position: relative;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);}
}

header h1 {
    position: relative;
    font-size: 3em;
    z-index: 1;  
    color: #0000FF;  
}
header p {
    font-size: 1.5em;
    color: #0000FF;  
}
